2 семестр/2 семестр_2016 ОИТ+KЯЗ/XML_LAB_RESH/XML 4-5/PROB.XML

<?xml version="1.0" encoding="UTF-8"?>
<![INCLUDE[
<!ATTLIST BOOK Category CDATA "fiction">
<!ELEMENT TITLE(#PCDATA)>
<!ELEMENT AUTHOR(#PCDATA)>
]]>
<INVENTORY>
	<BOOK>
		<TITLE>The Advetures of Huckleberry Finn</TITLE>
		<AUTHOR>Mark Twain</AUTHOR>
		<BINDING>mass marker paperback</BINDING>
		<PAGES>298</PAGES>
		<PRICE>$5.49</PRICE>
	</BOOK>
	<BOOK>
		<TITLE>Moby-Dick</TITLE>
		<AUTHOR>Herman Melville</AUTHOR>
		<BINDING>trade paperback</BINDING>
		<PAGES>605</PAGES>
		<PRICE>$4.95</PRICE>
	</BOOK>
	<BOOK>
		<TITLE>The Scarlet Letter</TITLE>
		<AUTHOR>Nathaniel Hawthorne</AUTHOR>
		<BINDING>trade paperback</BINDING>
		<PAGES>253</PAGES>
		<PRICE>$4.25</PRICE>
	</BOOK>
</INVENTORY>